{% extends 'base.html.twig' %}

{% block body_id 'create_article' %}

{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('article_create') }}" method="post">
                <fieldset>
                    <legend>Create new Article</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_create">Title:</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" id="article_create" placeholder="Enter a title..." name="article[title]" required type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_content">Content:</label>
                        <div class="col-sm-4 ">
                            <textarea class="form-control" id="article_content" placeholder="Enter a content..." name="article[content]" required>

                                </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('blog_index') }}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>

                    {{  form_row(form._token) }}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
